@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import 'tailwindcss';

*,*::before,*::after {
  box-sizing: border-box;
}

html {
  font-size:100%;
  padding:0;
  margin:0;
  font-family: "Montserrat", sans-serif;
}

.this{
  background-image : url('./assets/this.jpg');
}